* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
    left: 0;
    right: 0;
}

.home-container {
    position: relative;
    width: 800px;
    height: 500px;

.content-container {
    width: 100%;
    height: 100%;

.content {
    width: 100%;
    height: 90%;

.table {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border: solid 1px;

.moto-left,
.moto-right {
    width: 40%;
    height: 100%;

.item {
    border-bottom: solid 1px;
    height: 20%;
}

.item-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
}

.moto-left {
    border-right: solid 1px;
}
.moto-right {
    border-left: solid 1px;
}
}

.column {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

.number {
    width: 20%;
    height: 90%;
    border: solid 1px;
    display: grid;

.item-number {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-border {
    border-bottom: solid 1px;
}

.color-access {
    background-color: #3ff56a;
}

.color-danger {
    background-color: #ef3f3f;
}
}
}
}

.button-container {
.button-content {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 15px;

.button {
    background-color: #1497f6;
    border-radius: 5px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;
    font-weight: 600;

a {
    margin: 0;
    font-weight: 600;
    font-size: 17px;
}
}

.button:hover {
    cursor: pointer;
}
}
}
}
}
