.Webcam{
    border: 3px solid #525252;
    display: grid;
    padding: 5px 5px 5px 5px;
    max-width: 80%;
    height: 100%;
    margin: 10px 0 10px;
    border-radius: 5px;
    background-color: #bde5de;

}
.webcam-scn{
    padding: 5px 5px 5px 5px;
    max-width: 100%;
    height: auto;
    margin-bottom: 0;
    justify-content: center !important;
}
.btn-capture{
    background-color: #9db4f3;
    max-width: 600px;
    justify-content: center;
    margin: 10px auto 10px;
}