.App {
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    background-color: whitesmoke;
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}