.content-container {
    justify-content: space-between;

.content {
    width: 60%;
    min-height: 64px;
    display: flex;
    justify-content: center;

.itemNav {
    justify-content: space-around;
    display: flex;
    width: 100%;

.btn {
    display: flex;
    color: white;

.icon {
    margin-right: 8px;
    margin-bottom: 8px;
}
}
}
}
}
